body{
    background: #ddd;
    font-family: monospace;
}
.contenedor {
    background: rgb(112, 109, 109); /*fondo*/
    width: 80%;
    max-width: 600px;
    margin: 1.7em auto; /*centro*/

    display: grid;/*organiza los elementos dentro del contendor*/
    gap: 1 em; /*añadir un espacionado entre los contendores*/
    font-family:'Times New Roman', Times, serif;
    grid-template-columns: repeat(5,1fr);/*colocar las columnas */
}
.capacitacion {

    width: 80%;
    max-width: 600px;
    margin: 1.7em auto; /*centro*/
    font-family:'Times New Roman', Times, serif;
    display: grid;/*organiza los elementos dentro del contendor*/
    gap: 1 em; /*añadir un espacionado entre los contendores*/
    
  
}
.hola {

    width: 80%;
    max-width: 600px;
    margin: 1.7em auto; /*centro*/
    font-family:'Times New Roman', Times, serif;
    display: grid;/*organiza los elementos dentro del contendor*/
    gap: 1 em; /*añadir un espacionado entre los contendores*/
    
  
}

.referencia{
    width: 90%;
    background: rgb(151, 151, 151);
    margin: 50px auto;
    box-shadow: 0 0 20px #333;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 50 px;
    font-family:'Times New Roman', Times, serif;
}

.tabla_titulo{
    grid-column-start: 1;
    grid-column-end: 5;
    
    background: rgb(73, 73, 73);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
}


.tabla_subtitulos, .tabla_datos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla_subtitulos{
    font-weight: bold;
    font-size: 1.5em;
}

.tabla_datos{
    padding: 10px;
    font-size: 1.2em;
}
